{% extends 'core/base.html' %}

{% block title %}
    {{ Resultados }} | {{ block.super }}
{% endblock %}

{% block main %}

  {% if submitbutton == 'Search' and request.GET.q != '' %}

      <div class="row">
          <div class="col">
              <div class="page-header">
                  <h2 class="text-center">Resultados para "{{ request.GET.q }}"</h2>
              </div>
          </div>
      </div>

  {% if object_list %}

    {% for material in object_list %}
        {% include 'catalogo/_material.html' %}
    {% endfor %}

  {% else %}

  <div class="col">
      <div class="caption">
          <h4 class="text-center">Material não disponível no acervo!</h4>
      </div>
  </div>

  {% endif %}

  {% endif %}

{% endblock %}
