{% extends 'core/base.html' %}

{% block main %}

  <div class="jumbotron page-header">
  	<h1>Museu do Homem do Curimataú - CES/UFCG</h1>
  	<h2>Sistema de Catálogo do Acervo</h2>
    <img class="mx-auto d-block" src="https://images2.imgbox.com/93/15/wDImhrYN_o.png" alt="Chania"><p>
  	<p>O Museu do Homem do Curimataú (MHC) está situado na Rua XV de Novembro s/n Centro Cuité,
      na antiga dependência da Associação do Cuité Clube,
      prédio doado por assembleia dos representantes daquela Instituição.</p>
      <p>O MHC é um órgão suplementar do Centro de Educação da Universidade Federal de Campina Grande,
        inaugurado em março de 2010, através do projeto conseguido junto ao IPHAN (edital Mais Museus ).</p>
  </div>



{% endblock %}
