{% extends 'core/base.html' %}



{% block title %}
    Artistas | {{ block.super }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
          <div class="page-header">
              <h2 class="text-center">Artistas</h2>
          </div>
        </div>
    </div>

    <div class="row">
        {% for artistas in object_list %}
        <table class="table table-bordered">
          <tbody>
            <tr>
                <a><h5>{{ artistas.id }} - {{ artistas.nome }}</h5></a>
            </tr>
          </tbody>
        </table>
        {% endfor %}
    </div>


{% endblock %}
